.spot-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: cursive;
  color:blueviolet;
  margin-left: 1rem
}

.image_placeholder {
  margin:20px
}

.spot-content {
  display:grid;
  grid-template-columns: 50% 50% ;
  font-family: cursive;
  margin-left: 1rem;
  border-bottom: 1px solid grey;

}

.reserve-detail {
  display: inline-flexbox;
}
