.spot-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: cursive;
  color:blueviolet;
}

.image_placeholder {
  margin:20px
}

.spot-content {
  display:grid;
  grid-template-columns: 50% 50% ;
  font-family: cursive;
  border-bottom: 1px dotted rgb(249, 17, 17);
}

.reserve-detail {
  display: inline-flexbox;
}
