.all-spots {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  /* background-image: url('../../stat-snorlax.png'); */
}

.spots-holder {
  block-size: fit-content;
  width: 300px;
  height: 300px;
  margin: 20px;
  align-items: center;

}

.spot-info {
  font-family: cursive;
  font-weight: bold;
  color: blueviolet;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.price {
  margin-right: 5px;
}

@media (min-width:950px) and (max-width:1380px) {
  .all-spots {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
}

@media (min-width:671px) and (max-width:949px) {
  .all-spots {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media (mind-width:300px) and (max-width:670px) {
  .all-spots {
    display: grid;
    grid-template-columns: 100%;
  }
}
