.reviews {
  font-family: cursive;
}


h1 {
  justify-content: flex-start;
  margin-left:1rem;
}

.review-box {
  margin-top: 10px;
}

.firstName {
  margin-left:1rem;
}

.year-month {
  margin-left:1rem;
}
.comment {
  margin-left:1rem;
}

.reviews {
  font-family: cursive;
}

.be-the-first {
  margin-left:40px;
}

.reserve-detail {
  display: flex;
}
