.reviews {
  font-family: cursive;
}


h1 {
  justify-content: flex-start;
  margin-left:1rem;
}

.review-box {
  margin-top: 10px;
}

.fa, .fas {
  margin-left:1rem;
}

.firstName {
  margin-left:1rem;
}

.year {
  margin-left:1rem;
}
.comment {
  margin-left:1rem;
}
