.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-spot-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.errors {
  font-size: 13px;
  font-family: cursive;
  color: red;
}

label {
  font-family: cursive;
  display: grid;
  justify-items: center;
}

input {
  margin-top: 10px;
}

button.create-spot {
  width:fit-content;
  margin-top: 30px;
}

textarea {
  width:200px;
  height:40px;
}
