.hidden {
  display: none
}

.list {
  list-style-type: none;
  display:flex;
}

.logo {
  width: fit-content;
  position:absolute;
  top: 30px;
  left: 50px;
}

.header {
  height: 200px;
  display:flex;
  background-color: yellowgreen;
}

.profile {
  position:absolute;
  top: 50px;
  right: 100px;
}

.profile-dropdown {
  list-style-type: none
}

.create-new-spot {
  position: absolute;
  right: 300px;
  top: 100px
}
