.hidden {
  display: none
}

.list {
  list-style-type: none;
  display:flex;
  margin: 0px;
  padding:0px;
}

.logo {
  position:absolute;
  top: 50px;
  left: 100px;
}

.header {
  height: 150px;
}

.profile {
  position:absolute;
  right:50px;
  top:100px;
}

.profile-dropdown {
  list-style-type: none;
  font-family: cursive;
  position:absolute;
  right:0px;
}

.create-new-spot {
  position: absolute;
  right:200px;
  top: 100px;
  font-weight: bolder;
  font-family: cursive;
  color:rgb(7, 0, 0);
  text-decoration-line: none;
  background-color: rgb(237, 225, 227);
  box-shadow: 8px 3px 3px rgb(97, 48, 48);
  border-radius: 6px;
}

.create-new-spot:hover {
  position: absolute;
  right:200px;
  top: 100px;
  font-weight: bolder;
  font-family: cursive;
  color:rgb(250, 241, 241);
  text-decoration-line: none;
  background-color: rgb(18, 3, 5);
  box-shadow: 8px 3px 3px rgb(159, 39, 39);
  border-radius: 6px;
}

.log-in-button {
  font-size: 5px;
}

a.current-spot-button {
  text-decoration-line: none;
  color:rgb(7, 0, 0);
  background-color: rgb(237, 225, 227);
  box-shadow: 8px 3px 3px rgb(97, 48, 48);
  font-weight: bolder;
  font-family: cursive;
  border-radius: 6px;
}

a.current-spot-button:hover {
  text-decoration-line: none;
  color:rgb(235, 223, 223);
  background-color: rgb(21, 6, 9);
  box-shadow: 8px 3px 3px rgb(127, 12, 12);
  font-weight: bolder;
  font-family: cursive;
  border-radius: 6px;
}

@media (max-width: 710px) {

  a.create-new-spot, a.create-new-spot:hover {
    position:absolute;
    right:200px;
    top: 250px;
  }
}
