#modal-content {
  background-color: rgb(44, 73, 112);
  font-family: cursive;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: flex-end;
}

h1 {
  display: flex;
  justify-content: center;
}
